# template configuration

build_dir:           build
run_dir:             run
h5filepath:          "{sequence_index:04d}/{{cookiecutter.project_name}}_{run_number:04d}.h5"

groundstate:
    output_filename: groundstate.h5
    runtime:         1

realtime:
    init_filename:   groundstate.h5
    output_filename: realtime.h5
    runtime:             10

continue:
    init_filename:       init_continue.h5
    output_filename:     continue.h5
    runtime:             10


dt:                  1.e-3
sampling_dt:         0.05

globals:
    imprint_x0:      3
